# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
model_artifacts/

# MLflow local
mlruns/
mlflow/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
*.egg

# Testing
.pytest_cache/
htmlcov/
.coverage

# Celery
celerybeat-schedule
celerybeat.pid
